@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$off_white: #FAF7F2;
$black: #000000;
$purple:#C738BD;
$white:#F6FDC3;
$darkgreen:#12372A;
$lightgreen:#ADBC9F;
$blue:#26355D;